{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: rgb(206, 206, 228);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="form-group">
       <label for="State_Name">State_Name</label>
          <input type="text" class="form-control" name="State_Name" step="any">
        </div>
        <div class="form-group">
          <label for="District_Name">District_Name</label>
          <input type="text" class="form-control" name="District_Name" step="any">
        </div>
        <div class="form-group">
          <label for="Crop_Year">Crop_Year</label>
          <input type="number" class="form-control" name="Crop_Year" step="any">
        </div>
        <div class="form-group">
          <label for="Season">Season</label>
          <input type="text" class="form-control" name="Season" step="any">
        </div>
        <div class="form-group">
          <label for="Area">Area</label>
          <input type="number" class="form-control" name="Area" step="any">
        </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>

<!-- Form section -->

{% endblock %}
